$grey:rgb(172, 172, 172);
$lightGrey:rgb(235, 235, 235);
$opaqueBlue:rgba(122, 176, 212, .8);
.login-container-main{
    background: $opaqueBlue;
    min-height:100vh;
    .nav-container{
        position:fixed;
        top:0;
    }
}
.login-container-main .main-container{
    height:68vh;
    position:relative;top:6.3rem;
    @media (min-width:700px){
        height:75vh;
    }
    @media (min-width:1000px){
        height:60vh;
    }
    .form-container{
        display:block;
        text-align:center;
        hr{width:calc(100% - .4rem)}
        @media (max-width:999px){
            margin-top:5rem;
        }
        form{
            .field-set{
                .input-container{
                    padding:.6rem 0;
                    .fa-question-circle{
                        position:absolute;
                        right:1rem;
                        top:1.27rem;
                        color:$grey;
                    }
                    ::placeholder{
                        font-size:1.1rem;
                    }
                    .eye{
                        top:1.3rem!important;
                    }
                }
                #try-another,#forget-password{
                    display: inline-block;
                    font-size:1rem;
                    font-weight: 600;
                    color:rgb(5, 111, 218);
                    letter-spacing: .05rem;
                    &:hover{
                        cursor:pointer;
                    }
                }
                .button-container{
                    .fa-arrow-right{
                        top:1.15rem;
                    }
                }
            }
        }
    }
}