$darkBlue:rgb(42, 45, 62);
$blue:rgb(1, 115, 178);
$lightBlue:rgb(122, 176, 212);
$opaqueBlue:rgba(122, 176, 212, .8);
$darkGrey:rgb(114, 114, 114);
$grey:rgb(172, 172, 172);
$lightGrey:rgb(235, 235, 235);
$black:rgb(0, 0, 0);
$white:rgb(255, 255, 255);
.signup-container-main{
    background: $opaqueBlue;
    min-height:calc(100vh);
    .nav-container{
        position:fixed;
        top:0;
    }
}
.main-container{
    margin-top:3rem;
    position:relative;top:2.3rem;
    @media (min-width:700px){
        margin-top:4rem;
    }
    @media (min-width:1000px){
        margin-top:6rem;
    }
    margin-bottom:2rem;
    width: 100%;
    .form-container{
        box-shadow: 0px 0px 28px -2px $darkBlue;
        background: $white;
        margin-top:3rem;
        width: 18rem;
        max-width: calc(100% - 4rem);
        @media (min-width:375px){
            width:20rem;
        }
        @media (min-width:425px){
            width:21.25rem;
        }
        @media (min-width:650px){
            width:28rem;
        }
        @media (min-width:1000px){
            width:31rem;
            margin-top:1rem;
        }
        hr{
            margin: 0;
            padding: 0;
            border:2px solid $lightGrey;
            width:calc(100% + 1.5rem);
        }
        form{
            margin:auto;
            .field-set{
                width:99%;
                text-align:center;
                margin:auto;
                .error{
                    margin:0;
                    text-align:right;
                    font-size:.9rem;
                }
                .input-container{
                    position: relative;
                    select{
                        color:$grey;
                        width:calc(100% - 1.2rem);
                        padding-left:0.3rem;
                    }
                    input[type="date"]{
                        width:calc(100% - 1.2rem);
                    }
                    .eye{
                        position:absolute;
                        right:1rem;
                        top:.5rem;
                        display:none;
                        &:hover{
                            cursor:pointer;
                            transform: scale(1.2);
                            transition-duration: 100ms;
                            transition-timing-function: ease-in;
                        }
                    }
                    .active{
                        display:unset;
                    }
                }
                .checkbox-input{
                    position: relative;
                    display:inline-block;
                    input{
                        z-index: 1;
                        position: relative;
                        opacity: 0;
                        width:.85rem;
                        height:.85rem;
                    }
                    .checkbox{
                        display:flex;
                        height:.7rem;
                        width:.7rem;
                        border:2px solid $darkGrey;
                        border-radius: .2rem;
                        position: absolute;
                        color:$white;
                        top:0;
                        transition: background .1s ease-in-out;
                        .fa-check{
                            font-size:.7rem;
                            opacity:0;
                            transition: opacity .1s ease-in-out;
                        }
                    }
                    input:checked + .checkbox{
                        background: $blue;
                        border:2px solid $blue;
                        .fa-check{
                            opacity: 1;
                        }
                    }
                }
                .city-state-input-container{
                    border:0;
                    width: calc(100% + 4px);
                    input{
                        border:2px solid rgb(235, 235, 235);
                    }
                }
                .button-container{
                    position: relative;
                   button{
                       padding:.8rem 0;
                   }
                    .fa-arrow-right{
                        position: absolute;
                        right:1rem;
                        top:.85rem;
                        color:$white;
                    }
                }
                label{
                    display:inline-block;
                }
            }
        }
        .redirect{
            font-size:.9rem;
            margin-bottom:1rem;
            color:$darkGrey;a{
                color:$blue;
            }
        }
    }
}
.copyright{
    margin-top:3rem;
    margin-bottom: .5rem;
    font-size:.9rem;
    @media (min-width:1000px){
        margin-top: 8rem;
    }
}