@font-face {
	font-family: "nexa-light";
	src: url("../../assets/Nexa-Light.otf");
}
@font-face {
	font-family: "nexa-bold";
	src: url("../../assets/Nexa-Bold.otf");
}

//colors;
$darkBlue:rgb(42, 45, 62);
$blue:rgb(1, 115, 178);
$lightBlue:rgb(122, 176, 212);
$opaqueBlue:rgba(122, 176, 212,.8);
$darkGrey:rgb(114, 114, 114);
$grey:rgb(172, 172, 172);
$lightGrey:rgb(235, 235, 235);
$black:rgb(0,0,0);
$white:rgb(255,255,255);